#about {
  width: 100%;
  height: 100%;
}

.about-text {
  font-family: 'Ogg';
  color: #fff;
  font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
}

.back img {
  width: 55%;
  margin-bottom: 1.5em;
}

