form {
  padding: 0px 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.form-group {
  max-width: 600px;
  margin: 0 auto;
}

form h1 {
  font-family: 'Williwaw';
  font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
}

input {
  margin-bottom: 1em;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

textarea {
  overflow: auto;
  resize: vertical;
  margin-bottom: 2em;
}

textarea.form-control {
  height: auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.btn-primary {
  color: #fff;
  background-color: grey;
  border-color: white;
  margin: 0 auto;
}

.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.return {
  text-align: center;
}

.return a {
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
}

.return a:hover {
  opacity: 1;
}

