*{
  box-sizing: border-box;
}

/*html{
  border: 1px solid white;
}*/

body {
  background: url('../../assets/img/desktop-bg.png') repeat;
  font-family: 'apocrevelations';
  color: #D3D3D3;
  /*border: 1px solid yellow;*/
}

.container{
  padding: 1rem;
}

/*------NAVBAR------NAVBAR------NAVBAR------NAVBAR------NAVBAR------*/
.sidebar {
  width: 200px;
  height: 100vh;
  font-family: 'made_bon_voyage';
  letter-spacing: .025rem;
  background-color: transparent !important;
}
.sidebar li{
  height: 8vh;
}

.mobile-nav {
  width: 100%;
  height: 10vh;
  background-color: #555;
  overflow: auto;
  /*max-width: 100vw;
  background-color: rosybrown;
  */
}
.mobile-nav a{
  float: left;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-family: 'apocrevelations';
  font-size: 0.75rem;  
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}
.mobile-nav a:hover{
  background-color: #000;
}
.mobile-nav a.active {
  background-color: #202020;
}
/*---------------------------------------------------------------------*/


/*------MEDIA QUERIES------MEDIA QUERIES------MEDIA QUERIES------------*/
@media screen and (max-width: 768px) {
  .invisible-mobile {
    display: none;
  }
}

@media screen and (min-width: 769px) { /*invisible on tablet and desktop*/
  .invisible-desktop {
    display: none;
  }
}
/*---------------------------------------------------------------------*/


/*------BODY CONTENT------BODY CONTENT------BODY CONTENT---------------*/
.title{
  font-size: 3rem;
}

.concept{
  /*  font-family: 'black_mamba';*/
  text-transform: uppercase;
}
/*---------------------------------------------------------------------*/


/*------FOOTER------FOOTER------FOOTER------FOOTER------FOOTER---------*/
footer{
  padding: 3rem;
}
footer h4{
  color: rgb(200, 200, 200);
}
/*//Medium devices (tablets, 768px and up)*/
@media (min-width: 992px) {
  footer{
    position: relative;
    top: 25vh;
  }
}

.list-group-item{
  background-color: transparent !important;
}
/*---------------------------------------------------------------------*/

